<style>
    .breadcrumb-item a{
        color: #B22D00 !important;
    }

    input:focus, textarea:focus, select:focus{
        border-color: #B22D00 !important;
    }
</style>

<script>
    temadark()
</script>
 <!-- Content Wrapper -->
 <div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark texto">Criar Formulário</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="?tela=dashboard">Home</a></li>
                        <li class="breadcrumb-item active" id="breadcrumb">Criar Formulário</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

<div class="container text-dark">
    
    <div class="form-group texto">
        <label for="nomeFormulario texto">Nome do Formulário</label>
        <input type="text" id="nomeFormulario" class="form-control" placeholder="Digite o nome do formulário" required>
    </div>

    <div class="form-group texto">
        <label for="descricaoFormulario">Descrição</label>
        <textarea id="descricaoFormulario" class="form-control" placeholder="Descreva o objetivo do formulário" required></textarea>
    </div>

    <div class="form-group texto">
        <label for="validadeFormulario">Validade</label>
        <input type="date" id="validadeFormulario" class="form-control texto color-custom" required>
    </div>

    <h3 class="texto">Campos do Formulário</h3>
    <table class="table table-bordered">
        <thead>
            <tr class="texto">
                <th>Campo</th>
                <th>Tipo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody id="camposTableBody">
        </tbody>
    </table>

    <div class="mb-2">
        <button type="button" class="btn btn-primary" onclick="adicionarCampo()">Adicionar Campo</button>
        <button type="button" class="btn btn-success" onclick="salvarFormulario()">Salvar Formulário</button>
    </div>
</div>
</div>