 <script>
    $(document).ready(function () {
            const body = document.body;
            const btn = document.getElementById('toggle-dark-mode');

            if (body.classList.contains('dark-mode')) {
               $(".texto").removeClass("text-dark")
               $(".texto").addClass("text-light")
            } else {
                $(".texto").removeClass("text-light")
                $(".texto").addClass("text-dark")
            }
    })
 </script>
 <!-- Content Wrapper -->
 <div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark texto">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Home</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>