<script>
    temadark()
</script>
<!-- Content Wrapper -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark texto">Gerenciar Formulário</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="?tela=dashboard">Home</a></li>
                        <li class="breadcrumb-item active" id="breadcrumb">Gerenciar Formulário</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabela para Exibir os Formulários -->
    <div class="container-fluid">
        <table id="tabelaFormularios" class="table table-bordered">
            <thead>
                <tr class="text-dark text-center texto">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Validade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
<script>
    obterFormularios();
</script>